{% if event.errorMessage %}
<div class="alert alert-error">
  <p>{{ event.errorMessage }}</p>
</div>
{% else %}
<h2 class="event-title" data-type="{{ event.type }}">{{ event.name }}</h2>
<p class="event-times">
  <span class="event-date">{{ event.start_date }} {{ event.start_time }}</span>
  -
  <span class="event-date">{{ event.end_date }} {{ event.end_time }}</span>
</p>
<p class="event-location">{{ event.location }}</p>
<div class="event-description">
  {{ event.description|raw }}
</div>
{% endif %}
<nav>
  <a
    class="on-page-nav"
    href="{{ path('twenty_five_live_events.main') }}"
    title="Events Listing"
  >
    All Events
  </a>
</nav>
