<div class="events--block">
{% if hasEvents %}
  {% for event in events %}
  <div class="events--event">
    <p class="event--date-time">
      {{ event.start_date }} | {{ event.start_time }}
    </p>
    <h2>
      <a
        class="event--title-link"
        href="{{ path('twenty_five_live_events.event', {event_id: event.id}) }}"
        >
        {{ event.name }}
      </a>
    </h2>
    <p class="event--location">
      {{ event.location }}
    </p>
  </div>
  {% endfor %}
{% else %}
  <h2>There are no Upcoming Events</h2>
{% endif %}
</div>
